.about {
  height: 588px;
  background-color: $color-white;
}

// .about-container {

// }

.about-content {
  display: flex;
  gap: 120px;
  justify-content: center;

  & img {
    width: 300px;
    height: 408px;
  }

  & > * {
    margin-top: 80px;
  }
}

.text-block {
  max-width: 430px;

  & h3 {
    max-width: 370px;
    margin-bottom: 25px;
  }

  & p {
    margin: 0 0 25px 0;
    font-family: $ff-default;
    font-size: $fs-text;
    line-height: 160%;
    color: $color-paragraph-gray;
  }
}

@media (max-width: 920px) {
  .about {
    height: 1048px;
  }

  .about-container {
    padding: 0 30px;
  }

  .about-content {
    flex-direction: column-reverse;
    align-items: center;
    gap: 80px;

    & > * {
      margin-top: 0;
    }

    & .text-block {
      margin-top: 80px;
    }
  }
}

@media (max-width: 500px) {
  .about {
    height: 974px;
  }

  .about-container {
    padding: 0 25px;
  }

  .text-block {
    & h3 {
      max-width: 280px;
      margin: 0 auto;
      font-size: 25px;
      text-align: center;
    }
    & p {
      margin-top: 25px;
    }
  }

  .about-content {
    gap: 0px;

    & .text-block {
      margin-top: 42px;
      text-align: justify;
    }

    & img {
      width: 260px;
      height: 354px;
    }
  }
}
