.donation {
  height: 464px;
  background-color: $color-bg-gray;
}

.donation-container {
  box-sizing: border-box;
}

.donation-content {
  display: flex;
  padding-top: 80px;
  justify-content: center;

  & img {
    width: 505px;
    height: 261px;
    margin-right: 30px;
  }
}

.donation-info-block {
  & h3 {
    max-width: 300px;
    margin-bottom: 20px;
  }

  & span {
    font-family: $ff-title;
    font-size: $fs-text;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: $color-title-gray;
    margin-bottom: 20px;
  }

  & .credit-card {
    max-width: 349px;
    max-height: 43px;
    border-radius: 9px;
    background-color: $color-primary;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;

    & a {
      text-decoration: none;
    }

    & img {
      width: 30px;
      height: 23px;
    }
  }

  & .card-number {
    font-family: $ff-title;
    font-size: $fs-card-number;
    line-height: 115%;
    line-height: 0.06em;
    color: $color-title-gray;
  }

  & .card-info {
    max-width: 380px;
    font-family: $ff-default;
    font-size: $fs-xs;
    font-style: italic;
    line-height: 18px;
    color: $color-light-gray;
  }
}

@media (max-width: 1000px) {
  .donation-content {
    padding: 80px 30px 0 30px;
  }
}

@media (max-width: 940px) {
  .donation {
    height: 783px;
  }

  .donation-content {
    flex-direction: column-reverse;
    align-items: center;
    gap: 60px;
  }
}

@media (max-width: 580px) {
  .donation {
    height: 542px;
  }

  .donation-content {
    padding: 42px 10px 0 10px;
    gap: 32px;

    & img {
      width: 260px;
      height: 135px;
      margin: 0;
    }
  }

  .donation-info-block {
    text-align: center;

    & h3 {
      margin: 0 auto 20px auto;
      max-width: 220px;
      font-size: 25px;
      text-align: center;
    }

    .credit-card {
      margin: 20px auto 20px auto;
      max-width: 281px;
      height: 43px;
      justify-content: space-around;
    }

    .card-number {
      font-size: 15px;
    }

    & p:first-of-type {
      text-align: center;
    }

    & p:last-of-type {
      text-align: justify;
    }

    & span {
      letter-spacing: normal;
    }
  }
}
