.footer {
  height: 350px;
  background: radial-gradient(
      110.67% 538.64% at 5.73% 50%,
      #513d2f 0%,
      #1a1a1c 100%
    ),
    #211f20;
}

.footer-container {
}

.footer-content {
  display: flex;
  gap: 160px;
  align-items: center;
  justify-content: space-between;

  & h3 {
    color: $color-white;
  }

  & > img {
    margin-top: 40px;
  }
}

.address {
  padding-top: 50px;
}

.contacts,
.address {
  & ul {
    padding: 0;
    list-style: none;
    & li {
      display: flex;
    }
  }

  & img {
    margin-right: 20px;
  }

  & p {
    max-width: 302px;
    font-family: $ff-title;
    font-size: $fs-footer-info;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: $color-primary;
  }

  & a {
    text-decoration: none;
    transition: $transition-default;
  }

  & a:hover {
    color: $color-primary-light;
  }
}

@media (max-width: 1260px) {
  .footer-content {
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 60px;
    row-gap: 26px;
  }

  .contacts {
    max-width: 284px;
  }

  .address {
    max-width: 302px;
  }

  .address {
    padding-top: 30px;
  }
}

@media (max-width: 1015px) {
  .footer {
    height: 639px;
  }

  .footer-content img {
    margin: 0;
  }

  .contacts,
  .address {
    & img {
      margin-right: 20px;
    }
  }
}

@media (max-width: 663px) {
  .footer {
    height: 809px;
  }

  .footer-content {
    flex-direction: column;
    padding-top: 30px;
    row-gap: 5px;

    & h3 {
      margin: 0 auto;
      max-width: 278px;
      text-align: center;
      font-size: 25px;
    }

    & > img {
      width: 260px;
      height: 269px;
    }
  }
}
