.header {
  max-height: 60px;
  position: absolute;
  width: 100%;
  top: 60px;
  left: 50%;
  transform: translate(-50%);
}

.header-container {
  display: flex;
  justify-content: space-between;
  flex: 1;
  align-items: center;
  padding: 0 30px;
}

.logo-block {
  & a {
    text-decoration: none;
  }
  & p {
    color: $color-white;
    font-family: $ff-default;
    font-size: $fs-s;
    line-height: 15px;
    letter-spacing: 0.1em;
    margin: 10px 0 0 0;
  }
}

// .nav-bar {
// }

.nav-list {
  display: flex;
  list-style: none;
  gap: 35px;
}

.nav-link {
  position: relative;
  text-decoration: none;
  color: $color-text-gray;
  font-size: $fs-text;
  line-height: 160%;
  font-family: $ff-default;
  transition: $transition-default;
  &:hover {
    color: $color-white;
  }
}

.underline::after {
  position: absolute;
  content: "";
  height: 3px;
  width: 100%;
  bottom: -5px;
  left: 0;
  background-color: $color-primary;
}

.burger-menu {
  display: none;
}

.burger-menu {
  background: transparent;
  // margin: 60px auto 40px;
  position: relative;
  height: 22px;
  width: 30px;

  &:before,
  &:after {
    background: $color-primary;
    backface-visibility: hidden;
    content: "";
    height: 2px;
    left: 0;
    transition: 0.75s;
    width: 30px;
  }

  &:before {
    box-shadow: $color-primary 0 10px 0 0;
    position: absolute;
    top: 0;
  }

  &:after {
    position: absolute;
    top: calc(100% - 2px);
  }

  &:hover {
    cursor: pointer;
  }
}

.cross {
  &:before {
    box-shadow: transparent 0 0 0 0;
    top: 50%;
    transform: rotate(225deg);
  }

  &:after {
    top: 50%;
    transform: rotate(315deg);
  }
}

@media (max-width: 768px) {
  .header {
    top: 30px;
  }
}

@media (max-width: 740px) {
  .nav-list {
    display: none;
  }

  .header-container {
    padding: 0 43px 0 10px;
  }

  .burger-menu {
    display: block;
  }
}
