.help {
  height: 611px;
  background-color: $color-white;
}

// .help-container {
// }

.help-content {
  & h3 {
    margin: 0 auto;
    max-width: 308px;
    padding-top: 80px;
    text-align: center;
    line-height: 130%;
    letter-spacing: 0.06em;
  }
}

.help-cards {
  padding-top: 60px;
  display: flex;
  gap: 120px;
  row-gap: 55px;
  flex-wrap: wrap;
  justify-content: center;
}

.help-card {
  text-align: center;

  & img {
    width: 60px;
    height: 60px;
    margin-bottom: 30px;
  }
}

@media (max-width: 1100px) {
  .help {
    height: 779px;
  }

  .help-cards {
    gap: 85px;
    row-gap: 55px;
  }

  .help-card {
    width: 166px;
  }
}

@media (max-width: 715px) {
  .help-content {
    & h3 {
      max-width: 230px;
      padding-top: 42px;
      font-size: 25px;
      text-align: center;
    }
  }

  .help-cards {
    padding-top: 42px;
    gap: 30px;
  }

  .help-card {
    width: 130px;
  }
}

@media (max-width: 467px) {
  .help {
    height: 885px;
  }

  .help-card:last-of-type {
    justify-self: flex-start;
  }

  .help-card {
    & h4 {
      font-size: 15px;
    }
  }
}
