.button {
  padding: 15px 45px;
  border-radius: 100px;
  font-family: $ff-title;
  font-size: $fs-button;
  line-height: 130%;
  letter-spacing: 0.06em;
  border-style: none;
  transition: $transition-default;

  &:hover {
    cursor: pointer;
  }
}

.filled-button {
  background-color: $color-primary;

  &:hover {
    background-color: $color-primary-light;
  }
}

.learn-more-button {
  background: transparent;
  border: 2px solid $color-primary;

  &:hover {
    background-color: $color-primary-light;
  }
}

.round-button {
  position: relative;
  padding: 23px 19px;
  box-sizing: border-box;
  border-radius: 100px;
  width: 52px;
  height: 52px;
  border: 2px solid $color-primary;
  background: transparent;

  & img {
    position: absolute;
    right: 16px;
    top: 21px;
  }

  & span {
    position: absolute;
    font-family: $ff-title;
    font-size: $fs-button-number;
    line-height: 115%;
    color: $color-dark;
    letter-spacing: 0.06em;
  }

  & #button1 {
    right: 13px;
    top: 19px;
  }

  & #button2 {
    right: 19px;
    top: 19px;
  }

  & #button3 {
    right: 18px;
    top: 12px;
  }

  & #button4 {
    right: 19px;
    top: 19px;
  }

  & #button5 {
    right: 10px;
    top: 19px;
  }

  &:hover {
    background-color: $color-primary-light;
  }
}

.button-gray {
  border-color: $color-text-gray;

  &:hover {
    cursor: default;
    background-color: transparent;
  }
}
