$color-white: #ffffff;
$color-dark: #292929;
$color-light-gray: #b2b2b2;
$color-bg-gray: #f6f6f6;
$color-primary: #f1cdb3;
$color-primary-light: #fddcc4;
$color-title-gray: #545454;
$color-text-gray: #cdcdcd;
$color-paragraph-gray: #4c4c4c;

$ff-default: Arial, Helvetica, sans-serif;
$ff-title: Georgia, "Times New Roman", Times, serif;

$fs-title: 35px;
$fs-title-big: 44px;
$fs-h1: 32px;
$fs-text: 15px;
$fs-button: 17px;
$fs-s: 13px;
$fs-xs: 12px;

$fst-default: normal;

$fw-default: normal;

$transition-default: 0.5s ease;
