.button {
  padding: 15px 45px;
  border-radius: 100px;
  font-family: $ff-title;
  font-size: $fs-button;
  line-height: 130%;
  letter-spacing: 0.06em;
  border-style: none;
  transition: $transition-default;

  &:hover {
    cursor: pointer;
  }
}

.filled-button {
  background-color: $color-primary;

  &:hover {
    background-color: $color-primary-light;
  }
}

.learn-more-button {
  background: transparent;
  border: 2px solid $color-primary;

  &:hover {
    background-color: $color-primary-light;
  }
}
