html,
body {
  scroll-behavior: smooth;
  margin: 0; }

.container {
  max-width: 1200px;
  margin: 0 auto; }

h1,
h2,
h3,
h4 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: normal;
  margin: 0; }

h1 {
  color: #545454;
  font-size: 32px;
  line-height: 110%;
  transition: 0.5s ease; }
  h1:hover {
    color: #292929; }

h2 {
  color: #ffffff;
  font-size: 44px;
  line-height: 130%; }

h3 {
  color: #545454;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em; }

h4 {
  color: #545454;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em; }

.button {
  padding: 15px 45px;
  border-radius: 100px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  border-style: none;
  transition: 0.5s ease; }
  .button:hover {
    cursor: pointer; }

.filled-button {
  background-color: #f1cdb3; }
  .filled-button:hover {
    background-color: #fddcc4; }

.learn-more-button {
  background: transparent;
  border: 2px solid #f1cdb3; }
  .learn-more-button:hover {
    background-color: #fddcc4; }

.round-button {
  position: relative;
  padding: 23px 19px;
  box-sizing: border-box;
  border-radius: 100px;
  width: 52px;
  height: 52px;
  border: 2px solid #f1cdb3;
  background: transparent; }
  .round-button img {
    position: absolute;
    right: 16px;
    top: 21px; }
  .round-button span {
    position: absolute;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 20px;
    line-height: 115%;
    color: #292929;
    letter-spacing: 0.06em; }
  .round-button #button1 {
    right: 13px;
    top: 19px; }
  .round-button #button2 {
    right: 19px;
    top: 19px; }
  .round-button #button3 {
    right: 18px;
    top: 12px; }
  .round-button #button4 {
    right: 19px;
    top: 19px; }
  .round-button #button5 {
    right: 10px;
    top: 19px; }
  .round-button:hover {
    background-color: #fddcc4; }

.button-gray {
  border-color: #cdcdcd; }
  .button-gray:hover {
    cursor: default;
    background-color: transparent; }

.pets-cards {
  display: flex;
  justify-content: space-between;
  gap: 90px; }

.pet-card {
  max-width: 270px;
  max-height: 435px;
  background-color: #fafafa;
  text-align: center;
  transition: 0.5s ease; }
  .pet-card h4 {
    padding: 30px 0; }
  .pet-card .button {
    margin-bottom: 30px; }
  .pet-card:hover {
    cursor: pointer;
    box-shadow: 10px 5px 5px #b2b2b2; }

.header {
  max-height: 60px;
  position: absolute;
  width: 100%;
  top: 30px;
  left: 50%;
  transform: translate(-50%); }

.header-container {
  display: flex;
  justify-content: space-between;
  flex: 1;
  align-items: center;
  padding: 0 30px; }

.logo-block a {
  text-decoration: none; }
.logo-block p {
  color: #292929;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  margin: 10px 0 0 0; }

.nav-list {
  display: flex;
  list-style: none;
  gap: 35px; }

.nav-link {
  position: relative;
  text-decoration: none;
  color: #545454;
  font-size: 15px;
  line-height: 160%;
  font-family: Arial, Helvetica, sans-serif;
  transition: 0.5s ease; }
  .nav-link:hover {
    color: #292929; }

.underline {
  color: #292929; }

.underline::after {
  position: absolute;
  content: "";
  height: 3px;
  width: 100%;
  bottom: -5px;
  left: 0;
  background-color: #f1cdb3; }

.burger-menu {
  display: none; }

.burger-menu {
  background: transparent;
  position: relative;
  height: 22px;
  width: 30px; }
  .burger-menu:before, .burger-menu:after {
    background: #292929;
    backface-visibility: hidden;
    content: "";
    height: 2px;
    left: 0;
    transition: 0.75s;
    width: 30px; }
  .burger-menu:before {
    box-shadow: #292929 0 10px 0 0;
    position: absolute;
    top: 0; }
  .burger-menu:after {
    position: absolute;
    top: calc(100% - 2px); }
  .burger-menu:hover {
    cursor: pointer; }

.cross:before {
  box-shadow: transparent 0 0 0 0;
  top: 50%;
  transform: rotate(225deg); }
.cross:after {
  top: 50%;
  transform: rotate(315deg); }

@media (max-width: 768px) {
  .header {
    top: 30px; } }
@media (max-width: 740px) {
  .nav-list {
    display: none; }

  .header-container {
    padding: 0 43px 0 10px; }

  .burger-menu {
    display: block; } }
.pets {
  margin-top: 120px;
  height: 1342px;
  background-color: #f6f6f6; }

.pets-content {
  padding-top: 80px;
  display: flex;
  flex-direction: column; }
  .pets-content h3 {
    max-width: 400px;
    margin: 0 auto;
    text-align: center; }

.pets-block {
  padding-top: 45px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 270px);
  grid-column-gap: 40px;
  grid-row-gap: 30px;
  justify-content: center; }

.pets-slider {
  padding-top: 45px;
  margin: 0 auto;
  display: flex;
  gap: 20px; }

@media (max-width: 1215px) {
  .pets {
    height: 1733px; } }
@media (max-width: 912px) {
  .pets-block {
    max-height: 1365px;
    overflow: hidden; }

  .pets-slider {
    padding-top: 40px; } }
@media (max-width: 380px) {
  .pets {
    height: 1649px; }

  .pets-content {
    padding-top: 42px; }
    .pets-content h3 {
      max-width: 300px;
      font-size: 25px; }

  .pets-block {
    padding-top: 42px; }

  .pets-slider {
    gap: 10px; } }
.footer {
  height: 350px;
  background: radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%), #211f20; }

.footer-content {
  display: flex;
  gap: 160px;
  align-items: center;
  justify-content: space-between; }
  .footer-content h3 {
    color: #ffffff; }
  .footer-content > img {
    margin-top: 40px; }

.contacts,
.address {
  padding-top: 55px; }
  .contacts ul,
  .address ul {
    padding: 0;
    list-style: none; }
    .contacts ul li,
    .address ul li {
      display: flex; }
  .contacts img,
  .address img {
    margin-right: 20px; }
  .contacts p,
  .address p {
    max-width: 302px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #f1cdb3; }
  .contacts a,
  .address a {
    text-decoration: none;
    transition: 0.5s ease; }
  .contacts a:hover,
  .address a:hover {
    color: #fddcc4; }

@media (max-width: 1260px) {
  .footer-content {
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 60px;
    row-gap: 24px; }

  .contacts {
    max-width: 284px; }

  .address {
    max-width: 302px; }

  .address {
    padding-top: 30px; } }
@media (max-width: 1015px) {
  .footer {
    height: 639px; }

  .footer-content img {
    margin: 0; }

  .contacts img,
  .address img {
    margin-right: 20px; } }
@media (max-width: 663px) {
  .footer {
    height: 809px; }

  .footer-content {
    flex-direction: column;
    padding-top: 30px;
    row-gap: 20px; }
    .footer-content h3 {
      margin: 0 auto;
      max-width: 278px;
      text-align: center;
      font-size: 25px; }
    .footer-content > img {
      width: 260px;
      height: 269px; }

  .contacts,
  .address {
    padding: 0; } }

/*# sourceMappingURL=pets.css.map */
